.container {
    margin-left: auto;
    margin-right: auto;
    outline: red solid;
    width: 1106px;
    padding-left: 15px;
    padding-right: 15px;
    outline-style: dashed;
}

body {
    background-size: 100%;
}

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    background-image: url();
}

.header-list-nav {
    gap: 31px;
    display: flex;
    margin-bottom: 71px;
    padding-left: 156px;
    padding-top: 55px;
}

.header-link {

    font-family: 'Inter';
    font-size: 24px;
    font-weight: 200;
    line-height: normal;
}

.header-text {
    font-family: 'Inter';
font-size: 70px;
font-weight: 200;
line-height: 85px;
letter-spacing: 0em;
text-align: left;
margin-left: 146px;
}

.header-list {
    display: flex;
    justify-content: center;
    gap: 109px;
    flex-wrap: nowrap;
}

.header-info {
    font-family: 'Inter';
font-size: 21px;
font-weight: 300;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
margin-left: 160px;
}

.header-button {
    font-family: 'Inter';
font-size: 24px;
font-weight: 300;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
margin-left: 191px;
background: #B47B48;
height: 57px;
width: 207px;
border-radius: 17px;

}

.header-article {
    height: 225px;
width: 310px;
border-radius: 0px;
background: #272727;


}

.header-price {
    font-family: 'Inter';
font-size: 24px;
font-weight: 200;
line-height: 29px;
letter-spacing: 0em;
text-align: right;
color: #FFFFFF;



}

.header-name {
    font-family: 'Inter';
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: right;
color: #FFFFFF;

}

.header-button-buy {
    font-family: 'Inter';
font-size: 16px;
font-weight: 900;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
background: #C85312;
height: 34px;
width: 79px;
border-radius: 0px;
color: #FFFFFF;

}

.main {
    background-color: black;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 104px;
padding-right: 146px;
gap: 196px;
row-gap: 7px
;
}
.main-text {
    font-family: 'Inter';
font-size: 64px;
font-weight: 100;
line-height: 77px;
letter-spacing: 0em;
text-align: left;

}

.main-name {
    display: flex;
width: 92.195px;
height: 31.756px;
flex-direction: column;
color: #FFF;
font-family: 'Inter';
font-size: 25.92px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.main-button-order {
    display: block;
margin-top: 9px;
width: 160px;
height: 41px;
border-radius: 17px;
background: #B47B48;
color: #FFF;
font-family: 'Inter';
font-size: 25.92px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: auto;
margin-right: auto;

}

.main-img-bread {
    display: block;
    width: 294px;
    height: 184.39px;
}

.main-img-Bekary {
    display: block;
    width: 357px;
    height: 271px;
}

.main-img-Cakes-Capcakes {
    display: block;
    width: 258px;
    height: 257px;
}

.main-img-Coockies-Pretzels {
display: block;
width: 226px;
height: 230px;

}

.main-article {
    height: 229px;
width: 328px;

border-radius: 0px;
border: 1px solid #FFF;
}